*{
    margin: 0;
}

.nav{
    background-color: bisque;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    
}

.nav2{
    /* background-color: black ; */
    display: flex;
    margin: 10px;
}

p{
    margin-left: 10px;
    color: grey;
}
/* ____________________ */

.container{
    display: flex;
    background-color: aqua;
    margin: auto;
    padding: 20px;
    width: 85%;
}

.left{
    flex: 2;
    background-color: black;
}

.right{
    flex: 1;
}