*{
    margin: 0;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 140px 0px 140px;
}

.left{
    display: flex;
}
.left img{
    width: 140px;
    height: 20px;
    margin-right: 40px;
}
.left p{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

.right{
    display: flex;
    align-items: center;
}

.cart{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.avatar{
    width: 60px;
    height: 60px;

}
hr{
    margin: 30px 140px 0px 140px;
}

/* ___________________________________________________ */

.main{
    display: flex;
    background-color: yellow;
    min-height: 100vh;
    margin: 30px 140px 40px 140px;
}

.first{
    flex: 1;
    background-color: blue;
}
.image1{
    width: 70%;
    height: 60%;
    object-fit: cover;
    margin: 40px 40px 40px 90px;
    border-radius: 15px;
}



.second{
    flex: 1; 
}