*{
    margin: 0;
}
.container1{
    height: 300px;
    width: 260px;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.container2{
    height: 300px;
    width: 260px;
    background-color:bisque;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
}
.container3{
    height: 300px;
    width: 260px;
    background-color: blanchedalmond;
    position: absolute;
    top: 200px;
    left:200px;
    z-index: 3;

}


/* ______________________________________________________HAHAHA__________________________________________ */
.sectionvirat{
    margin-top: 50px;
    display: flex;
    height: 600px;
    text-align: center;
  }
  .sectionvirat1 {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
  }
  .sectionvirat2 {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
  }
  .sectionvirat3 {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
  }
  .sectionviratimg {
    width: 80%;
    height: 90%;
    object-fit: cover;
  }
  .sectionviratbut {
    color: white;
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;
    width: 100px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }